* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
}
:root{
    --bgYellow: #faf7e9;
    --hfPink: #e46c86;
    --navOrange: #fd8046;
    --textDark: #363636;
}
p,div{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
h1{
    font-family: Georgia, Times, 'Times New Roman', serif;
}
.active{
    background-color: yellow;
}
body,main {
    border: none;
    margin: 0%;
    overflow: auto;
    background-color: var(--bgYellow);
}
header{
    height: 150px;
    grid-area: header;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--hfPink);
}
a.logo{
    align-self: center;
    margin-left: 7%;
}
a img.logo{
    height: 150px;
    width: auto;
}
input.search{
    height: 32px;
    width: 27%;
    align-self: baseline;
    margin-left: 10%;
    border: gray solid 1px;
    border-radius: 8px;  
    color: gray;   
}
i.fa-search{
    font-size: 22px;
    align-self: baseline;
    margin-left: 5px;
    opacity: 30%;
}
i.fa-shopping-bag{
    font-size: 70px;
    align-self: baseline;
    margin-left: 25%;
    margin-top: 50px;
    color: yellow;
    opacity: 90%;
    text-shadow: 3px 3px var(--textDark);
}
nav{
    height: auto;
    grid-area: nav;
    display: flex;
    background-color: var(--navOrange);
}
nav i.fas{
    display: none;
}
ul.menu{
    align-self: center;
    margin-left: 7%;
    display: flex;
    width: 60%;
}
a.menu{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 24px;
    padding: 4px 10px;
    align-self: center;
    text-align: center;
    flex: 1 1 auto;
    color: var(--textDark);
}
ul.socialMedia{
    align-self: center;
    margin-left: 8%;
    display: flex;
    width: auto;
}
.socialMedia .fab{
    align-self: center;
    font-size: 36px;
    padding: 3px 10px;
    flex: 1 1 auto;
    color: var(--bgYellow);
    opacity: 75%;
    text-shadow: 2px 2px var(--textDark);
}
.focus{
    height: 430px;
    grid-area: focus;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
div.focus img{
    display: inline-block;
    border: 9px solid white;
    margin-top: 10px;
    box-shadow: 0 0 2px 1px lightgray;
}
div.focus img.f1{
    position: absolute;
    left: -36%;
    z-index: 1;
}
div.focus img.f2{
    position: absolute;
    left: 22%;
    z-index: 3;
}
div.focus img.f3{
    position: absolute;
    right:-37%;
    z-index: 2;
}
div.focus i{
    display: inline-block;
    font-size: 50px;
    opacity: 70%;
    padding: 3px;
    background-color: yellow;
    color: var(--hfPink);
    position: absolute;
    top:45%;
    z-index: 4;
}
div.focus i.fa-chevron-left{
    left:20%;
}
div.focus i.fa-chevron-right{
    right: 19%;
}
.shop{
    height: 40px;
    grid-area: shop;
    background-color: var(--hfPink);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 24px;
    color: var(--bgYellow);
    text-align: right;
    padding: 3px 5%;

}
aside{
    height: auto;
    grid-area: aside;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 20px;
    text-align: right;
    padding-right: 20px;
    font-size: 18px;
    background-color: var(--navOrange);
}
aside ul{
    padding-top: 20px;
    font-style: italic;
    color: var(--textDark);
}
aside li{
    padding-top: 3px;
    padding-bottom: 3px;
    font-style: normal;
}
aside ul li a{
    color: var(--bgYellow);
}
main.product{
    height: auto;
    grid-area: main;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-right: 3%;
}
section.product{
    width: 305px;
    height: auto;
    flex: 1 1 auto;
    margin-top: 10px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: var(--textDark);
}
img.productImg{
    flex: 1 1 auto;
    align-self: stretch;
    /* box-shadow: 5px 5px 3px lightgray; */
}
p.productNames{
    flex: 1 1 auto;
    align-self: center;
    padding-top: 10px;
}
p.productPrices{
    flex: 1 1 auto;
    align-self: center;
} 
div.more{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--hfPink);
    color: var(--bgYellow);
    font-size: 22px;
}
footer{
    height: auto;
    grid-area: footer;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-top: dashed 1px gray;
}
footer a{
    color: black;
}
footer ul{
    width: auto;
    padding: 10px;
    display: inline-block;
}
footer p.copyright{
    margin-top: 10px;
    padding-top: 10px;
    border-top: gray dashed 1px;
} 

.mainContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header" 
        "nav nav nav nav nav" 
        "focus focus focus focus focus"
        "shop shop shop shop shop"
        "aside main main main main"
        "footer footer footer footer footer";
}
div.upDown{
    width: 45px;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    bottom: 50px;
    left: 96%;
    font-size: 40px;
    opacity: 50%;
}
div i.fa-arrow-circle-up{
    display: block;
}
div i.fa-arrow-circle-down{
    display: block;
}

/* Crystalpedia Page */
div.alphabetFilter{
    height: auto;
    font-size: 40px;
    padding: 5px 10%;
    margin-top: 10px;
    grid-area: filter;
    border-bottom: dashed 1px gray;
    letter-spacing: 1px;
}
main.crystal{
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    margin: 0% 8%;
    grid-area: main;
    justify-content: space-evenly;
}
section.crystal{
    width: 260px;
    height: auto;
    flex: 1 1 auto;
    align-self: stretch;
    display: flex;
    flex-flow: column nowrap;
    margin: 20px 15px;
    text-align: center;
}
section.crystal img{
    flex: 1 1 auto;
    align-self: stretch;
    border-radius: 50%;
    margin-bottom: 10px;
}
section.crystal p{
    flex: 1 1 auto;
    align-self: stretch;
    font-size: 18px;
}
.crystalContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header" 
        "nav nav nav nav nav" 
        "filter filter filter filter filter"
        "main main main main main"
        "footer footer footer footer footer";
}
/* Cryastal's floating window */
div.crystalDetails{
    display: none;
    border: 1px solid gray;
    background-color: white;
    opacity: 90%;
    width: 70%;
    height: auto;
    position: absolute;
    top: 350px;
    left: 13%;
    margin: auto;
    padding: 15px;
}
div.crystalDetails img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.crystalDetails i.fa-times{
    position: absolute;
    font-size: 40px;
    top:20px;
    right: 20px;
    opacity: 40%;
}

/* About us Page */
section.ourStory{
    grid-area: story;
    margin: 20px 7%;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
}
section.ourStory img{
    flex: 1 1 auto;
    align-self: center;
    margin-right: 20px;
    margin-bottom: 20px;
}
section.ourStory div.storyText{
    width: 500px;
    height: auto;
    flex: 1 1 auto;
    align-self: stretch;
}
section.contactUs{
    margin: 10px 7%;
    grid-area: contact;
    display: flex;
    flex-flow: row wrap;
    align-self: stretch;
}
section.contactUs Address{
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    margin-bottom: 10px;
    flex: 1 1 auto;
}
section.contactUs iframe{
    align-self:stretch;
    flex: 1 1 auto;
}
.aboutUsContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header" 
        "nav nav nav nav nav" 
        "story story story story story"
        "contact contact contact contact contact"
        "footer footer footer footer footer";
}

/* Product Page 
main.item{
    margin-left: 7%;
    margin-right: 7%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
}
main div.itemPics{
    width: 55%;
    flex: 1 1 auto;
    align-self: stretch;
    margin-right: 3%;
    display: flex;
    flex-flow: row nowrap;
}
main div.itemPics img.mainPic{
    width: 430px;
    height: auto;
    flex: 1 3 auto;
    align-self: flex-start;
    display: flex;
    flex-flow: column nowrap;
    margin: 10px; 
}
main div.itemPics div.mainPic img{
    width: 475px;
    height: auto;
    flex: 1 1 auto;
    align-self: stretch;
} 
main div.itemPics div.thumbnails{
    width: 3%; 
    height: auto;
    flex: 1 3 auto;
    align-self: center;
    display: flex;
    flex-flow: column wrap;
    justify-content:space-evenly;
    margin: 10px 5px 10px 0px;
}
main div.itemPics div.thumbnails img{
    width: 100px;
    height: auto;
    flex: 1 1 auto;
    align-self: stretch;
    margin: 2px;
}

main div.itemDetails{
    width: 41%;
    flex: 1 1 auto;
}*/

@media screen and (min-width: 746px) and (max-width: 960px){
    i.fa-shopping-bag{
        margin-left: 15%;
    }
    ul.menu{
        margin-left: 3%;
        font-size: 20px;
        width: 68%;
    }
    ul.socialMedia{
        margin-left: 8%;
    }
    div.focus{
        height: 380px;
    }
    div.focus img.f1{
        width: 60%;
        height: auto;
        left: -40%;
        top:50px;
    }
    div.focus img.f2{
        width: 80%;
        height: auto;
        left: 9%;
    }
    div.focus img.f3{
        width: 60%;
        height: auto;
        right:-40%;
        top:50px;
    }
    div.focus i{
        display: none;
    }
    main{
        margin-right: 2%;
    }
    section.product{
        width: 250px;
    }
} 
    /* Crystalpedia page */
    div.alphabetFilter{
        padding: 5px 8%;
        text-align: center;
    }
    section.crystal{
        width: 207px;
        height: auto;
    }
    div.crystalDetails{
        width: 80%;
        height: auto;
        top: 400px;
        left: 7%;
    }

    /* About us page */
    section.ourStory{
        border-bottom: 1px solid gray;
    }

@media screen and (max-width: 745px) {
    .focus{
        display: none;
    }
    .shop{
        display: none;
    }
    header{
        display: flex;
        flex-flow: row nowrap;
        height: auto;
        border-right: 1px solid var(--bgYellow);
    }
    a.logo{
        margin-left: 7%;
    }
    a img.logo{
        height: 120px;
    }
    input.search{
        display: none;      
    }
    i.fa-search{
        display: none;
    }
    i.fa-shopping-bag{
        font-size: 50px;
        margin-left: 10%;
    }

    nav{
        width: 250px;
        height: auto;
        padding: 15px 10px 20px 10px;
        opacity: 90%;
        position: absolute;
        top: 0%;
        right: 0%;
        display: flex;
        flex-flow: column nowrap;
        box-shadow: 10px 10px 5px grey;
    }
    nav ul.menu{
        display: flex;
        flex-flow: column nowrap;
        padding-bottom: 10px;
    }
    nav i.fa-times{
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 40px;
        opacity: 60%;
    }
    nav{
        display: none;
    };
    nav i.fa-bars{
        display: block;
        font-size: 55px;
        margin-left: 30%;
        margin-top: 65px;
        color: var(--textDark);
    }   

    aside{
        margin: 0%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid var(--bgYellow);
    }
    aside ul{
        padding: 0%;
    }
    aside li{
        display: none;
    }
    main{
        margin-left: 2%;
        padding-right: 5%;
    }
    img.productImg{
    box-shadow: 5px 5px 3px lightgray;
    }
    .mainContainer{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header nav" 
            "aside aside aside"
            "main main main"
            "footer footer footer";
    }

    /* Crystalpedia page */
    div.alphabetFilter{
        padding: 5px 4%;
        font-size: 24px;
    }
    section.crystal{
        width: 300px;
        height:auto;
    }
    section.crystal img{
        box-shadow: 5px 5px 5px lightgray;
    }
    .crystalContainer{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header nav" 
            "filter filter filter"
            "main main main"
            "footer footer footer";
    }
    div.crystalDetails{
        top: 200px;
        left: 5%;
    }
    
    /* About us page */
    section.ourStory{
        flex-flow: row wrap;
        margin: 15px 4%;
        margin-right: 5%;
    }
    section.ourStory img{
        width: 100%;
        align-self: center;
    }
    section.contactUs{
        margin-right: 5%;
    }
    .aboutUsContainer{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header nav" 
            "story story story"
            "contact contact contact"
            "footer footer footer";
    } 
  }