* {
    border: 1px solid black;
}
body,main {
    border: none;
    margin: 0%;
}
p{
    text-decoration: none;
}
header{
    height: 110px;
    grid-area: header;
}
nav{
    height: 40px;
    grid-area: nav;
}
footer{
    height: 150px;
    grid-area: footer;
}
.focus{
    height: 400px;
    grid-area: focus;
}
.shop{
    height: 40px;
    grid-area: shop;
}
aside{
    height: 800px;
    grid-area: aside;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 20px;
}
main{
    height: auto;
    grid-area: main;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
section.product{
    width: 305px;
    height: auto;
    flex: 1 1 auto;
    margin-top: 10px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
img.productImg{
    flex: 1 1 auto;
    align-self: stretch;
}
p.productNames{
    flex: 1 1 auto;
    align-self: center;
}
p.productPrices{
    flex: 1 1 auto;
    align-self: center;

} 
.mainContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header" 
        "nav nav nav nav nav" 
        "focus focus focus focus focus"
        "shop shop shop shop shop"
        "aside main main main main"
        "footer footer footer footer footer";
}
div.up{
    width: 45px;
    height: 45px;
    position: sticky;
    bottom: 50px;
    left: 95%;
}
@media screen and (max-width: 768px) {
    .focus{
        display: none;
    }
    .shop{
        display: none;
    }
    aside{
        margin: 0%;
    }
    nav{
        height: 100px;
    }
    .mainContainer{
        grid-template-areas:
        "nav header header header header" 
        "aside aside aside aside aside"
        "main main main main main"
        "footer footer footer footer footer";
    }
  }